body {
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.navbar-ref {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.navbar-ul {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.list-inline {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin:20px 0;
  width: 50%;
}

@media only screen and (max-width: 1094px) {
  .list-inline {
    width: 100%;
  }

  .navbar-ref {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

}

a::selection,
span::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

a::selection,
span::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}