#four-oh-four img.bg {
  -webkit-filter: grayscale(55%);
          filter: grayscale(55%);
  position: absolute;
  background-color: #333333;
  background-position: center center;
  background-size: 150% 150%;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -999;
}
#four-oh-four #error-container .overlay {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.3;
}
#four-oh-four .terminal {
  position: relative;
  background: rgba(38, 38, 38, 0.8);
  width: 80%;
  height: 40vh;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.55);
  margin: 20vh auto;
}
#four-oh-four .terminal .window-title {
  background: linear-gradient(top, #dedede, #c0c0c0);
  width: calc(100% - 16px);
  height: 8%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1px 8px;
}
#four-oh-four .terminal .window-title .win-buttons {
  position: relative;
  width: 15%;
  left: -11px;
  float: left;
  margin: 0;
}
#four-oh-four .terminal .window-title .button {
  display: inline-block;
  text-align: center;
  width: 10px;
  height: 10px;
  border: 0.5px solid;
  border-radius: 100px;
  vertical-align: middle;
  margin: 3px 2px 3px 0;
}
#four-oh-four .terminal .window-title #close {
  background: #e25544;
  border-color: #d84b3a;
}
#four-oh-four .terminal .window-title #min {
  background: #f5b640;
  border-color: #e0a12b;
}
#four-oh-four .terminal .window-title #max {
  background: #7cb058;
  border-color: #6fa44b;
}
#four-oh-four .terminal .title {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: middle;
  top: 0.5px;
  left: -43px;
}
#four-oh-four .terminal .prompt {
  font-size: 98%;
}
#four-oh-four .terminal .user {
  color: #ea7e7d;
  letter-spacing: 0.002em;
  padding-right: 3px;
}
#four-oh-four .terminal .at {
  color: #e8d880;
  padding-right: 2px;
}
#four-oh-four .terminal .path {
  color: #7ecdcb;
  letter-spacing: 0.002em;
  padding-right: 2px;
}
#four-oh-four .terminal .caret {
  color: #50cd70;
}
#four-oh-four .message {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Source Code Pro", monospace;
  width: 95%;
  margin: auto;
  padding: 1.5vh 0 0;
  z-index: 999;
}
#four-oh-four .message span {
  font-size: 90%;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.045em;
  margin-bottom: 1em;
}
#four-oh-four .message span a {
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
}
#four-oh-four .message form input {
  background: transparent;
  border: none;
  outline: none;
  caret-color: #50cd70;
}
#four-oh-four .message form input:focus {
  color: rgba(255, 255, 255, 0.75);
}
#four-oh-four .message .typed-cursor {
  color: rgba(255, 255, 255, 0.9);
}
#four-oh-four a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
#four-oh-four a:hover {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
}