#music-box{
	border-style: solid;
	border-color: #AAA;
	border-radius: 5px;
	margin-top: 10px;
	border-width: 1px;
	box-shadow: 1px 1px 1px #CCC;
}

#music-text{
	color: #787878;
	text-align: center;
	font-size: 0.9em;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
}

#music-name:link{
	color: #212121;
	font-size: 1.5em;
	padding: 2px;
}

#music-name:hover{
	color: #f1c40f;
	text-decoration: none;
	-webkit-transition: .2s;
    transition: .2s;
}