#work-box-title{
	padding: 10px;
	margin: 10px;
}

#work-box{
	padding: 10px;
	margin: 10px;
}

#work-box-inside{
	padding-top: 10px;	
	padding-bottom: 10px;
	border-style: solid;
	border-color: #bdc3c7;
	border-radius: 10px;
	border-width: 2px;
}

#work-box-title-text{
	font-size: 20px;
	font-weight: 700;
	color: #212121;
}

#work-title-text{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 700;
	color: #212121;
}

#work-title-company{
	margin-left: 10px;
	font-size: 15px;
	font-weight: 400;
	color: #7f8c8d;
}

#work-title-desc{
	margin-left: 10px;
	font-size: 15px;
	font-weight: 400;
	color: #323232;	
	margin-top: 15px;
}

.work-circle{

	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 36px;
	height: 36px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

	background: #fff;
	border: 2px solid #666;
	color: #666;
	text-align: center;

	font: 15px Arial, sans-serif;
}

.box-block {
	margin-bottom: 30px;
	margin-top: 15px;
	font-family: handwriting;
}

.title {
	border-bottom: 1px solid #ddd;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
}

.title .icn-title {
	margin-right: 5px;
	display: inline-block;
	padding-bottom: 10px;
	position: absolute;
	left: 0;
	background: #249EBD;
	padding: 10px;
	color: white;
	min-width: 40px;
	text-align: center;
	top: -6px;
	min-height: 40px;
	padding-bottom: 13px;
	border-radius: 5px;
}
.title .icn-title:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -10px;
	border-top: 10px solid #249EBD;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.title.with-icon {
	padding-left: 50px;
}
.btn-flat {
	background: #ba4e4e;
	color: white;
	font-weight: 300;
	padding-left: 20px;
	border-radius: 5px;
	margin-top: 5px;
	padding-right: 20px;
	box-shadow: 0 5px 0 #a63838;
	position: relative;
	margin-bottom: 5px;
}
.btn-flat-blue {
	background: #337AB7;
	color: white;
	font-weight: 300;
	padding-left: 20px;
	border-radius: 5px;
	margin-top: 5px;
	padding-right: 20px;
	box-shadow: 0 5px 0 #2269A6;
	position: relative;
	margin-bottom: 5px;
}
.btn-flat-blue:hover,
.btn-flat-blue:focus,
.btn-flat-blue.active,
.btn-flat-blue.style2:hover,
.btn-flat:hover,
.btn-flat:focus,
.btn-flat.active,
.btn-flat.style2:hover {
	color: white;
	bottom: -5px;
	box-shadow: none;
}
.btn-flat.style2 {
	background: #63A4B5;
	box-shadow: 0 5px 0 #5b94a3;
}

.button {
	display: inline-block;
	position: relative;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 2em;
	font-family: handwriting;
	text-transform: uppercase;
	line-height: 1.2;
	border: 0;
	outline: 0;
	background: #fff;
	border: 2px solid #DDE4E6;
	color: #6A7686;
	text-shadow: none;
	color: #626262;
	font-weight: 700;
	border-radius: 4px;
	-webkit-transition: color 0.1s, background-color .2s, border-color .2s;
	transition: color 0.1s, background-color .2s, border-color .2s;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}

#handwriting-span{
	font-size: 1.7em;
	font-family: handwriting;
}

#handwriting-span-sub{
	font-size: 1.5em;
	font-family: handwriting;
}

.button.primary-green:hover{
	background: #096;
	color: white;
	border-color: #096 ;
	text-decoration: none;
}
.button.primary-blue:hover{
	background: #337AB7;
	color: white;
	border-color: #337AB7 ;
	text-decoration: none;
}
.button.primary-yellow:hover{
	background: #f1c40f;
	color: white;
	border-color: #f1c40f ;
	text-decoration: none;
}

/*
TIMELINE OF PROJECTS
*/

.event {
	padding: 16px; margin-top: 50px;
}
.event:first-of-type {
	margin-top: -15px; 
}
.event:first-of-type .date {
	top: 55px; 
}
.event:before, .event:after {
	display: none; 
}
.timeline .event:last-child p:before {
	height: 70%;
}

/* TIMELINE */
.timeline {
	position: relative; padding-left: 100px; padding-bottom: 10px;
}
.timeline h2 {
	position: relative; margin-bottom: 2em;
}
.timeline h2 [class^="icon-"], .timeline h2 [class*=" icon-"], .timeline h2 .fa {
	display: block; font-size: 30px; position: absolute; top: -27px; left: -112px; width: 86px; line-height: 78px; margin: 0;  z-index: 120;
}
.event {
	position: relative; padding: 26px 32px; background: #ffffff; border: 3px solid #DDE4E6; border-radius: 6px;
}
.event .date {
	position: absolute; top: 45%; margin-top: -24px; left: -106px; width: 68px; line-height: 58px; text-align: center; background: #5BCF80; display: block; z-index: 120; color: #fff; border-radius: 50%; border: 5px solid #FFF; font-weight: 400;
}
.event.current .date {
	border-color: #345; outline: 5px solid #FFF; background-color: #345;
}
.event p {
	margin: .6em 0 .2em 0
}
.event p:before {
	display: block; content: ""; position: absolute; top: -30px; left: -72px; height: 160%; width: 4px; background: #DDE4E6;
}
/* HEADING WITH ICON */
h2 i[class^="icon-"], h2 i[class*=" icon-"], h2 i.fa {
font-size: 22px; margin-right: 16px; line-height: 39px; text-align: center; color: #B7C6C9; background: #fff; border-radius: 50%; border: 4px solid #dde4e6; display: inline-block; width: 47px;
}
#project-name{
	color: #2980b9;	
}
#project-tech-used{
	color: #7f8c8d;
}
#project-desc{
	color: #212121;
}

#timeline-header{
	color: #2c3e50;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

#side-title{
	font-size: 22px; 
	margin-right: 16px;
	line-height: 39px;
	text-align: center; 
	color: #B7C6C9;
	background: #fff; 
	border-radius: 50%; 
	border: 4px solid #dde4e6; 
	display: inline-block; 
	width: 47px;	
}