#work-box-title{
	padding: 10px;
	margin: 10px;
}

#work-box{
	padding: 10px;
	margin: 10px;
}

#work-box-inside{
	padding-top: 10px;	
	padding-bottom: 10px;
	border-style: solid;
	border-color: #bdc3c7;
	border-radius: 10px;
	border-width: 2px;
}

#work-box-title-text{
	font-size: 20px;
	font-weight: 700;
	color: #212121;
}

#work-title-text{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 700;
	color: #212121;
}

#work-title-company{
	margin-left: 10px;
	font-size: 15px;
	font-weight: 400;
	color: #7f8c8d;
}

#work-title-desc{
	margin-left: 10px;
	font-size: 15px;
	font-weight: 400;
	color: #323232;	
	margin-top: 15px;
}

.work-circle{

	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 15px Arial, sans-serif;
}

.box-block {
  margin-bottom: 30px;
  margin-top: 15px;
}

#resume .time-line .item-event {
  position: relative;
  padding-left: 15px;
  border-left: 3px solid #e1e1e1;
  margin-left: 25px;
  padding-bottom: 30px;
  padding-top: 10px;
}
#resume .time-line .item-event.current .date {
  border: 5px solid #4B6F78;
  background: #4B6F78;
}
#resume .time-line .item-event.current .event-content {
  border: 3px solid #4B6F78;
}
#resume .time-line .item-event .date {
  position: absolute;
  left: -32px;
  top: -10px;
  border-radius: 50%;
  background: #63A4B5;
  display: inline-block;
  padding: 12px 7px;
  text-align: center;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 12px;
  border: 5px solid #fff;
}
#resume .time-line .item-event .event-content {
  position: relative;
  border: 3px solid #e1e1e1;
  padding: 10px 20px;
  border-radius: 0 10px 10px;
}
#resume .time-line .item-event .event-content h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #63A4B5;
}

.title {
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.title .icn-title {
  margin-right: 5px;
  display: inline-block;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  background: #249EBD;
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
  top: -6px;
  min-height: 40px;
  padding-bottom: 13px;
  border-radius: 5px;
}
.title .icn-title:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  border-top: 10px solid #249EBD;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.title.with-icon {
  padding-left: 50px;
}
.btn-flat {
  background: #ba4e4e;
  color: white;
  font-weight: 300;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 5px;
  padding-right: 20px;
  box-shadow: 0 5px 0 #a63838;
  position: relative;
  margin-bottom: 5px;
}
.btn-flat:hover,
.btn-flat:focus,
.btn-flat.active,
.btn-flat.style2:hover {
  color: white;
  bottom: -5px;
  box-shadow: none;
}
.btn-flat.style2 {
  background: #63A4B5;
  box-shadow: 0 5px 0 #5b94a3;
}