#weblog-title-text{
	color: #696969;
	font-weight: 700;
	font-size: 4em;
	margin-left: 4.3em;
}

#weblog-title{
	color: #696969;
	font-weight: 700;
	font-size: 4em;
}

#weblog-name:link{
	color: #8d8d8d;
	margin-left: 0.5em;
	font-size: 2.5em;
	font-weight: 700;
}

#weblog-date{
	margin-left: 1.4em;
	color: #D1D1D1;
	font-size: 1em;
}

#weblog-name:hover{
	color: #ffd324;
	text-decoration: none;
	-webkit-transition: .2s;
    transition: .2s;
}