<!DOCTYPE html>
<html>
<head>
  <title>About Rish</title>
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/aboutme.css') }}" rel = "stylesheet">
  
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-3"><a class="button primary-blue" href="/home" style="margin-top:20px">&lt; Home</a></div>

        <div class="col-md-9"></div>
      </div>

      
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-4"><h1>About Me</h1></div>
          <div class="col-md-8"></div>
        </div>

        <div class="row">
          <div class="col-md-3"><img src="/static/images/me_small.jpg" alt="Rishabh Bhardwaj"></div>
          <div class="col-md-9">
            <p>I'm a yet-to-be engineer with a keen interest in solving real world problems. Currently pursuing ICT at <a href="http://daiict.ac.in/">DA-IICT</a>, where I've taken up Computer Science and IoT as my electives. I have worked with various MIT Media Lab personnel in the past, and love developing Android apps and playing around and visualizing data.</p> 
            <p>You can find me on <a href="http://in.linkedin.com/in/bhardwajrish/">LinkedIn</a>, or email me <a href="mailto:bhardwaj.rish@gmail.com?Subject=Hello%20Rish%20-from-website" target="_top">here</a>.
            </p>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-4"><a class="button primary-blue" href="http://in.linkedin.com/in/bhardwajrish"> LinkedIn</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="mailto:bhardwaj.rish@gmail.com?Subject=Hello%20Rish%20-from-website"> GMail</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="https://github.com/crearo"> &lt;Github&gt;</a></div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>In the two years or so, I've worked on :</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
            <li><b>[Lens Launcher]</b> Contributed heavily to an open source Android launcher with over 80K (as of Jun '16) downloads. The application can be found <a href="https://play.google.com/store/apps/details?id=nickrout.lenslauncher">here</a>. The application is based on a graphical fish eye lens algorithm, allowing you to browse through all your apps on a single page. The source code and graphical fisheye lens academic resources are on <a href="https://github.com/nicholasrout/lens-launcher/">Github</a>.</li>
            <li><b>[Health-Kiosk, IoT]</b> Working with <a href="http://anirudh.me/">Anirudh Sharma</a> and <a href="http://www.niteshkadyan.in/">Nitesh Kadyan</a> at developing a portable health kiosk that measures the 5 vitals signs of a human being. Read more about the project here. Also worked on Jackboy, a soon to be <a href="http://anirudh.me/">kickstarter</a> campaign to democratize sensors to all platforms - emphasis on mobile devices.</li>
            <li><b>[360° camera, IoT]</b> Working at <a href="http://360vr.tesseract.in/">Tesseract</a>, an MIT Media Lab spinoff working closely with <a href="http://www.kshitijmarwah.com/ ">Kshitij Marwah</a>, where I co-developed an Android application to capture and view 360 degree image+video with the hardware built there.</li>
            <li><b>[Smart Kumbhmela, Nasik]</b> At <a href="http://www.kumbha.org/">Kumbathon</a> for 10 days as a participant, where I worked with <a href="https://www.media.mit.edu/people/raskar">Ramesh Raskar</a> towards bringing technology to the Kumbhmela. We visualized changes in population movement on heatmaps, using telecom data.</li>
            <!-- <li><b>[Machine Learning, NLP, OCR]</b> Worked with the famous <a href="http://facebook.com/terriblytinytales">Terribly Tiny Tales</a> page - several 100 character stories, where I aimed at understanding which tales receive most likes/type of comments, applying sentiment analysis to each tale. This was by far my most interesting project in terms of ML. You can read more about it <a href="">here</a></li> -->
            <li><b>[Android, Infinite Scrolling Images]</b> A very generic Android app that can be modified with small changes to display images of various famous facebook pages. Have a look at <a href="https://play.google.com/store/apps/details?id=rish.crearo.lifehacks">LifeHacks</a> and <a href="https://play.google.com/store/apps/details?id=com.memions.quotes">The Minions App</a>. The applications have 5K+ downloads (as of Jan '16) each.</li>
            <li><b>[Android, Zimbra's Webmail]</b> A GMail like Android application for <a href="http://webmail.daiict.ac.in/">Zimbra Webmail</a>, our university email service. <a href=" https://play.google.com/store/apps/details?id=com.sigmobile.dawebmail">The application</a> is used by ~1k students regularly. The application has been completely open sourced. The application can be used by any organization using Zimbra Webmail. View the source code <a href="https://github.com/crearo/webmail">here</a>. Do go through the README.md</li>
            <li><b>[Android, Alarm for the Lazy]</b> An Android application that allows you to set multiple alarms in gaps of 5/10/15 minutes, to make sure you wake up tomorrow morning. The application was developed in my sophomore year to make it easier for me to set multiple alarms in intervals of 10 minutes in one go (I was missing a lot of classes because of not waking up on time then) <a href="https://play.google.com/store/apps/details?id=rish.crearo.alarmmanager">Alarm for the Lazy - Playstore</a>.</li>
            <li><b>[Android, Drunk Call Blocker]</b> An Android application that allows you to blocks calls and smses before getting drunk. Inspired from the movie the Internship. <a href="https://play.google.com/store/apps/developer?id=Crearo">Drunk Much?</a>.</li>
            <!-- <li><b>[Hardware, Skateboard]</b> A motorized skateboard controlled via arduino+android.<a href="">Youtube Video</a>.</li> -->
          </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 " style="margin-top:20px">
            <p>I love exploring and traveling, working on interesting ideas, and merging software with hardware. Ping me, and let's make a super awesome gadget together!</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
</body>
</html>