<div class="col s12 m4 l4">
    <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            {% if 'photos' in project %}
            <img class="card-image activator" src={{project['photos'][0]}}/>
            {% else %}
            <img class="card-image activator" src="/static/images/projectx.png/">
            {% endif %}
        </div>
        <div class="card-content activator">
            <div class="container-outer">
                <div class="md-chips container-inner">
                    {% for tag in project['tags'] %}
                    <div class="md-chip md-chip-clickable"><a class="md-chip-link"
                                                              href="/projects?tags={{tag}}">{{tag}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
            <span id="title" class="card-title activator grey-text text-darken-4" title="{{project['name']}}">
              {{project['name']}}
            </span>
                <i class="material-icons right activator">more_vert</i>
            </div>
            <div>
                <span><a href="/projects/{{project['link']}}">Read More</a></span>
                {% if 'github' in project %}
                <span><a class="github" href={{project['github']}}> | Github</a></span>
                {% endif %}
                {% if 'arxiv' in project %}
                <span><a class="github" href={{project['arxiv']}}> | Arxiv</a></span>
                {% endif %}
                {% if 'playstore' in project %}
                <!--<span><a class="github" href={{project['playstore']}}> | Play Store</a></span>-->
                {% endif %}
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{project['name']}}<i
                    class="material-icons right">close</i></span>
            <div><span class="status">{{project['date']}}</span></div>
            <p>{{project['short']}}</p>
            <span><a href="/projects/{{project['link']}}">Read More</a></span>
        </div>
    </div>
</div>