<div class="row">
    <div class="col m4">
        <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src=/static/images/projectx.png/>
            </div>
            <div class="card-content">
                <div>
                    <!--loop here-->
                    <div class="icon">
                        <span class=python></span>
                    </div>
                </div>
                <span class="card-title activator grey-text text-darken-4">
              {{project['name']}}
              <i class="material-icons right">more_vert</i>
            </span>
                <div>
                    <span><a href={this.props.data.website}>Website</a></span>
                    <span><a class="github" href={this.props.data.github}>Github</a></span>
                </div>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{project['name']}}<i
                    class="material-icons right">close</i></span>
                <div><span class="status">{{project['date']}}</span></div>
                <p>{{project['short']}}</p>
            </div>
        </div>
    </div>
</div>