<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>DAWebmail Privacy Policy</title>
    <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
<h2>Privacy Policy</h2>
<p>Revision Date: 02 Oct 2018</p>

<p><strong>In very simple words:</strong></p>
<p>My name is Rishabh Bhardwaj and I am an individual application developer. I made this app as a side hobby project in
    college to help the students at DA. I do not and will never share personal user data. I deeply respect cyber
    privacy.

    The DAWebmail app sends crash logs and general <b>anonymous</b> analytics from every user. Additionally, I collect
    your email address when you sign up on DAWebmail. Hope this answers most questions. If not, please
    read on. If it doesn't further help, please write to me at the email address mentioned below.</p>

<p><strong>In far more legal and formal words:</strong></p>

<p> Rishabh Bhardwaj built the DAWebmail app as an Ad Supported app. It currently does not support in-app purchases.
    The DAWebmail service is provided by Rishabh Bhardwaj at no cost and is intended for use as is.
</p>
<p>This page is used to inform visitors regarding my policies with the collection, use, and disclosure
    of Personal Information if anyone decided to use the service, DAWebmail.
</p>
<p>If you choose to use DAWebmail, then you agree to the collection and use of information in
    relation to this policy. The Personal Information that I collect is used for providing and improving
    the app. I will not use or share your information with anyone at all, ever.
</p>
<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
    accessible at <a href="terms-and-conditions">www.rish.space/DAWebmail/terms-and-conditions</a>.
</p>
<p><strong>Information Collection and Use</strong></p>
<p>For a better experience while using DAWebmail, I may require you to provide us with certain
    personally identifiable information, including but not limited to email addresses of user submitted DAWebmail. The
    DAWebmail submitted by each of the users is sent to a server hosted on the cloud which I use to filter offensive
    DAWebmail / ban future submissions by the offenders.
</p>
<p>The app does use third party services that may collect information used to identify you.</p>
<div><p>Link to privacy policy of third party service providers used by the app</p>
    <ul>
        <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
        <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank">AdMob</a></li>
        <li><a href="https://firebase.google.com/policies/analytics" target="_blank">Firebase Analytics</a></li><!---->
        <li><a href="https://fabric.io/privacy" target="_blank">Fabric</a></li><!----><!----><!----></ul>
</div>
<p>When you install DAWebmail, we generate a random unique ID for you which gets tagged to your device.This unique ID is
    used to identify you as a user by DAWebmail and save your bookmarked content on server.

    You may also sign-in on DAWebmail through an account you already have with Google. When you sign-in on DAWebmail
    through Google, we ask for your full name, email id, google account id and profile picture(collectively referred as
    “Personal Data”). All this information is used to set up your profile and create an account on our servers where you
    may back up your content.

    We receive some other information automatically when you use DAWebmail. This includes data about your device,
    software, operating system, user-specific advertising IDs for advertisement tracking, your IP address and the date
    and time of each request you would make to DAWebmail.

    In order to enhance your experience on DAWebmail, we also collect information about how you interact with the
    content
    cards and advertisements on DAWebmail.

</p>
<p><strong>Log Data</strong></p>
<p> I want to inform you that whenever you use DAWebmail, in a case of
    an error in the app I collect data and information (through third party products) on your phone
    called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
    device name, operating system version, the configuration of the app when utilizing DAWebmail,
    the time and date of your use of the Service, and other statistics.
</p>
<p><strong>Cookies</strong></p>
<p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
    These are sent to your browser from the websites that you visit and are stored on your device's internal
    memory.
</p>
<p>This Service does not use these “cookies” explicitly. However, the app may use third party code and
    libraries that use “cookies” to collect information and improve their services. You have the option to
    either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose
    to refuse our cookies, you may not be able to use some portions of this Service.
</p>
<p><strong>Service Providers</strong></p>
<p> I employ third-party companies, specifically, Google and services provided by Google such as:
<ul>
    <li>Google Admob,</li>
    <li>Firebase,</li>
    <li>Fabric, and</li>
    <li>Crashlytics</li>
</ul>
and individuals due to the following reasons:</p>
<ul>
    <li>To facilitate DAWebmail development;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services; or</li>
    <li>To assist us in analyzing how our Service is used.</li>
</ul>
<p> I want to inform users of this Service that these third parties have access to
    your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However,
    they are obligated not to disclose or use the information for any other purpose.
</p>
<p><strong>Security</strong></p>
<p> I value your trust in providing us your Personal Information, thus we are striving
    to use commercially acceptable means of protecting it. But remember that no method of transmission over
    the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee
    its absolute security.
</p>
<p><strong>Links to Other Sites</strong></p>
<p>This Service may contain links to other sites. If you click on a third-party link, you will be directed
    to that site. Note that these external sites are not operated by me. Therefore, I strongly
    advise you to review the Privacy Policy of these websites. I have no control over
    and assume no responsibility for the content, privacy policies, or practices of any third-party sites
    or services.
</p>
<p><strong>Children’s Privacy</strong></p>
<p>These Services do not address anyone under the age of 13. I do not knowingly collect
    personally identifiable information from children under 13. In the case I discover that a child
    under 13 has provided me with personal information, I immediately delete this from
    our servers. If you are a parent or guardian and you are aware that your child has provided us with personal
    information, please contact me so that I will be able to do necessary actions.
</p>

<p><strong>How you can delete your account on DAWebmail</strong></p>

<p>You can delete your Account by emailing to andro.rish@gmail.com. Please note that we will need to verify that you
    have
    the authority to delete the Account, and activity generated prior to deletion will remain stored by us and may be
    publicly accessible.

    As part of Data Retention Obligation, DAWebmail will retain your profile data till your user account is open. The
    data will be deleted within 30 days of account deletion, unless required by law or authorities.

    We, however, may disclose aggregate information about how our users use DAWebmail in an anonymous manner that
    doesn’t
    identify you individually.
</p>

<p><strong>Changes to This Privacy Policy</strong></p>
<p> I may update our Privacy Policy from time to time. Thus, you are advised to review
    this page periodically for any changes. I will notify you of any changes by posting
    the new Privacy Policy on this page. These changes are effective immediately after they are posted on
    this page.
</p>
<p><strong>Contact Us</strong></p>
<p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact
    me.
</p>
<p>Rishabh Bhardwaj</p>
<p>andro.rish@gmail.com</p>
<a href="https://play.google.com/store/apps/details?id=rish.crearo.DAWebmail">DAWebmail app on Google Play</a>
</body>
</html>
