{% extends "navbar.html" %}

{% block body %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Making Things</h2>		
		<h5>When you first develop an application, create something using Lego, or play around with hardware, you will experience ecstasy, so exultant and euphoric that you will want to enthusiastically practice more and build something—anything, like a hungry chef discovering a furnished kitchen with every tool, every utensil, and a stocked pantry.</h5>
		<a href="http://javascriptissexy.com/about">- Another Self Motivated Maker</a>
	</div>

</div>

{% endblock %}