{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>{{ common.alias }}</span><span class="at">@</span><span
                                class="path">/home/{{ common.first_name|lower }}{{ common.last_name|lower }}/</span>><span
                                class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">{{ common.first_name }}</p>
            <p class="text-title desktop-view">{{ common.last_name }}</p>
            <p class="text-title mobile-view">{{ common.first_name }} {{ common.last_name }}</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">"Spider-Man" is the alias of a student named Peter Parker who, after
                being bitten by a genetically-altered spider, gains superhuman strength and the spider-like ability to
                cling to any surface. He vows to use his abilities to fight crime, coming to understand the words of
                his beloved Uncle Ben: "With great power comes great responsibility.
            </p>

            <p class="text-content">Let's get in touch!</p>

            <p class="text-content">Peter Parker</p>

            <p class="text-content"><a href="timeline">For more about me, my timeline, read on here.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
