{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>crearo</span><span class="at">@</span><span
                                class="path">/home/rish/</span>><span class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Rish</p>
            <p class="text-title desktop-view">Bhardwaj</p>
            <p class="text-title mobile-view">Rish Bhardwaj</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/crearo">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/bhardwajrish/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/bhardwaj_rish">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/rishbhardwaj/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">I am a maker at heart; from developing challenging large-scale software to small
                weekend hacks and proof of concept ideas to tinkering around with my Lego Mindstorms sets - I love to
                build.</p>
            <p class="text-content">
                I work at Google Munich in the Android Platforms and Ecosystems team. I have a deep understanding of
                the Android graphics and camera stack. I have worked on hard problems such as real time stabilization on
                Android, and have created a graphics library for custom rendering to multiple surfaces, applying
                filters, and streaming.</p>

            <p class="text-content">I studied computer science at <a href="http://www.daiict.ac.in/daiict/index.html">DA-IICT</a>.
            </p>

            <p class="text-content">One of my biggest side-projects is <a
                    href="https://play.google.com/store/apps/details?id=rish.crearo.lifehacks&hl=en_IN">Lifehacks</a>,
                an Android application I developed from scratch which now has over 750K installs. I designed the logo,
                collated the content, structured the database and designed the REST API. I contribute to open source
                occasionally - I've contributed heavily to
                <a href="https://play.google.com/store/apps/details?id=nickrout.lenslauncher&hl=en_IN">Lens Launcher</a>,
                an Android launcher with over 1 million installs, and have also open sourced a
                personal project I developed during my university days for viewing
                <a href="http://github.com/crearo/webmail">Zimbra Webmails on Android</a>.</p>

            <p class="text-content">I have also co-authored a paper in the Conference of Data Sciences (CODS '17)
                studying the role of temporal diversity in inferring social ties based on spatio-temporal data. (<a
                        href="https://arxiv.org/abs/1611.03298">view paper here</a>).</p>

            <p class="text-content">I'm a drum student, I'm learning to speak German, and
                <a href="http://bhardwajrish.blogspot.com">am an active blogger</a>, where I write about my work, travel
                and side projects. I'm extremely enthusiastic about life, believe that life is too short to work on
                things that don't interest you, and I'm always on the hunt for learning something new.</p>

            <p class="text-content">You can find me on <a href="http://in.linkedin.com/in/bhardwajrish/">LinkedIn</a>,
                or email me <a href="mailto:rish.extra@gmail.com?Subject=Hello%20Rish%20-from-website" target="_top">here</a>.
            </p>

            <p class="text-content">Let's get in touch!</p>

            <p class="text-content">Rish Bhardwaj</p>

            <p class="text-content"><a href="timeline">For more about me, my timeline, read on here.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
