<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehacks Disclaimer</title>
</head>
<body>
<h2>Disclaimer</h2>
<p>Revision Date: 02 Oct 2018</p>
<p>
    The information given by app is captured from various sources / websites / open
    source websites. The content provided is for information and only general information purpose. Information is
    collated from various sources only, and should not be treated as a substitute to expert / medical advice of your
    own doctor / any other health care professional. App developer is not responsible for the reliability,
    effectiveness, correct procedure, accuracy, or correct use of information you receive through the Lifehacks app.
</p>
<p>
    The content mentioned in application may not have been evaluated by any statutory / expert / government bodies /
    laboratories.
</p>
<p>
    The Lifehacks App developer not responsible or liable in any way whatsoever including remedial costs or legal
    action resulting in bodily injury, losses, any self-diagnosis made by a user based on the content of this App.
    The App user is made aware that the content may change without notice and information in the app may become out
    of date.
</p>
<p>
    The Lifehacks App developer has taken care not to use any copyright material. If you feel your copyright
    material has been used in this app, please inform developer. The content will be taken out after review.
</p>
<p>
    The Lifehacks app content is not meant to be offensive to any region, race, geography, country, nationality. If
    by mistake any content deems to do so, please let App developer know. The content will be taken out after
    review.
</p>
<p>
    Please contact app developer at :
</p>
<p>
    Rishabh Bhardwaj
    androrish@gmail.com
</p>
</body>
</html>