{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/medialab.css') }}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h4>MIT Media Lab Application</h4>
        <p>December, 2018</p>
        <p>I've written stories upon stories to link and retrofit each event in my life that has led me up to
            here; how one project led to another experience - like a river's predetermined course, when
            frankly at those moments in time, all I ever did was truly
            enjoy the process of building. None of those fabricated stories really resonate with the person I
            am, or my approach to the way I work. I am a maker at heart; I really enjoy the process of sitting for
            hours on end and building something - anything, many a times without a purpose or end goal in mind.</p>

        <p>With the work that I have done so far, I am most interested in working with the Camera Culture group, the
            Fluid Interfaces group, and Responsive Environments group.</p>

        <p>I am a firm believer of the fact that ideas do not pop out of thin air - even though it might seem so
            sometimes. Much like the many Lego creations I built as a child with my NXT kits, any new thing we do,
            builds on our past experiences. Even the uniqueness of the creation is consciously or subconsciously
            influenced by our past learning, experiences and observations. And so it follows, the more diverse the
            buildings blocks, the more the possibility of innovation - [TODO: somehow fit in how we're bridging the gap
            of arts and sciences.]
        </p>

        <p>My interest from early on has always been in creating tangible things - not things that exist solely in the
            virtual world - the great world wide web. I started off by using Android as a platform because it gave me
            all the sensors the Lego Mindstorms NXT kit did, but in a very compact form. Ever since, I've worked on
            dozens of applications leveraging the IMU, the camera and built on top of the standard Android interface to
            create things. Some of these that started off as weekend hacks just to see of something of the sort could be
            possible ended up being full time side projects, some I continue to work on till date.
        </p>

        <p>At Tesseract Imaging, an MIT Media Lab spinoff started by Kshitij Marwah, I worked on creating a 360 degree
            viewer, and an interactive virtual reality walkthrough of multiple adjacent 360 degree images captured by
            the camera we built. This period was especially fun because this was the first time I experienced the way
            the Media Lab worked, with Kshitij having led the Meda Lab India initiative, he brought in the culture of
            experimenting new things every other weekend and hosting regular brainstorming sessions.
        </p>

        <p>I later spent a month with Anirudh Sharma, a graduate from the Media Lab's Fluid Interfaces group where we
            spent almost every other day(!) working on a new project. From trying to correlate the stress of riding a
            cycle on a busy street vs open roads using a an ECG attached to the handlebars, to attempting to control a
            quadcopter with voice commands only, to using the Kinect to create floorplan layouts. His lab had all the
            tools I could and could
            not think of - it was much like a Legoland for me, where all I had to do was think and build!
        </p>

        <p>I was hooked to the way the people at the Media Lab worked and thought, and I started seeing a pattern. The
            trick was to keep the fire burning to keep hold on to the flashes of seemingly irrelevant thoughts and turn
            those into ideas, and put your soul into doing them. I found an opportunity to work with Prof. Ramesh Raskar
            on visualization of the population movement during India's largest religious festival, the Kumbhmela using
            mobile networks, data from radio stations, and the local police and hospitals.
        </p>

        <p>Ever since, I've spent a weekend every month on trying something completely new, just for the fun of it. I
            created a WhatsApp mass forwarder to allow communication between multiple groups to beat the then 50 member
            group limit, attempted at externally controlling a cheap and drift-y quad copter to hover over a point using
            a PID loop, a Google Home powered door lock using Lego, a utility app with a beautiful interface to set
            multiple alarms because I caught myself setting a series of 5 alarms every morning just to make sure I wake
            up amongst dozens of other creative ideas just because I truly enjoy sitting in my room and making something
            - anything. One of these side projects have also grown into a part-time source of income with an Android app
            named Lifehacks, a creative content providing app on hacking your way in every-day life, being popular
            because of a very smooth and fluent user interface.
        </p>

        <p>With Lens Launcher, an open source Android launcher I contributed to heavily, we aimed at changing the way
            the traditional menu screen - the rectangular grid of apps - is used. We laid out all apps in a rectangular
            grid, but used a graphical fish eye lens to interact and feel the list of apps by providing haptic feedback
            when hovered over. The launcher was much appreciated in the Android community and has crossed well over a
            million downloads. It also was a winner at Google I/O's Android Experiments in 2016.
        </p>

        <p>For over 2 years now, I've been a part of Tonbo Imaging, a thermal camera company for military reconnaissance
            where I've been a part of the pipeline of creating thermal cameras from scratch, building a team, and
            working on difficult problems to solve on a computationally limited processor. The product is consists of
            modular harware + modular software to build different camera variants for specific use cases.
        </p>

        <p>A specific such problem of a worthy mention is real time stabilization using the onboard gyroscope for
            eliminating low frequency shake, and eliminating high frequency shake by running an optical flow tracker on
            a part of the image. During this period I also created an Android library to take a continuous media source,
            apply OpenGL filters - specifically false coloring thermal video output, and configure rendering in shape,
            size and rotation in 3D space. It also allows for quick exchange of frames between the CPU and GPU.
        </p>

        <p>Whether it is using thermal cameras to make the <i>visible invisible</i>, designing a completely
            new interface to using displays, or making the world wide web tangible by means of VR, I don't quite know
            yet. Having said this, I have demonstrated the passion to make and am certain that the Media Lab can kindle
            my spark to make it fully burning fire, making me a perfect fit for the Media Lab.
        </p>

        <p>
            -
        </p>
        <p>
            Rishabh Bhardwaj
        </p>

        <p>
            All projects mentioned in this text are available (with as many videos as possible) at
            <a href="www.rish.space/projects">www.rish.space/projects</a>.
        </p>
        <br>
        <br>
        <p><b>To add:</b></p>
        <p><b>- relate with the work that the 3 groups are doing</b></p>
        <p><b>- bring in some of their past projects into this</b></p>
        <p>- remove the many I's from everywhere</p>
        <p>- make first and last paragraph less sappy</p>
        <p>- include Prof Bagler and his work</p>
        <p>- somehow fit <i>digital technologies are impacting physical world</i></p>
        <p>- raskar said your projects should have at least 2 of the 3: fun, challenging, and impactful. Almost no
            projects have been impactful.</p>
        <p>- add an option to read the text in latex? read somewhere profs like to read tex formats only.</p>
        <p>- add easter eggs to this?</p>

    </div>
    <div class="col-2"></div>
</div>

<br>
<br>

{% endblock %}

