{% extends "navbar.html" %}
{% block body %}

<br>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">

			<a class="button primary-blue" href="/music/random-list">RANDOMIZE LIST</a>
			{% set randomSong = (songs|random).m_link %}
			<a class="button primary-green" href={{randomSong}}>Play Any One</a>
			<a class="button primary-yellow" href="/music/favorites">My Favorites</a>

		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		{% for s in range(0, songs|length) %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="music-box" class="col-md-12">
					<div style="text-align:center;">
						<a id="music-name" href = {{ songs[s].m_link }}>{{ songs[s].m_name }}</a>
					</div>
					<p id="music-text"> {{ songs[s].m_text}}</p>
				</div>	
			</div>
		</div>
		{% endfor %}
		</div>
		<div class="col-md-2">
			<div class="box-block">
				<p id="handwriting-span">
					You know what? I still can't figure out why there isnt a social connect for music.
				</p>
				<hr>
				<p id="handwriting-span">
					Like LinkedIn connects professionals, and Facebook connects friends, there should be a SongStory connecting people with similar tastes in Music.
				</p>
				<hr>
				<p id="handwriting-span">
					I can almost imagine where the startup would be placed in Silicon Valley's theme song.
					<a href="{{ url_for('static', filename = 'images/sv.png') }}" height="100" width="260">[Silicon Valley reference!]</a>
				</p>
				<hr>
			</div>

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


{% endblock %}