<!DOCTYPE html>
<html>
<head>
  <title>Rishabh Bhardwaj</title>
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/navbar.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/music.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/weblog.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/portfolio.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/code.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel = "stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body> 
  <section>
    {% if color == 'red' %}
    <div id="navbar-red" class="container-fluid">
      {% elif color == 'blue' %}
      <div id="navbar-blue" class="container-fluid">
        {% elif color == 'orange' %}
        <div id="navbar-orange" class="container-fluid">
          {% elif color == 'green' %}
          <div id="navbar-green" class="container-fluid">
            {% elif color == 'yellow' %}
            <div id="navbar-yellow" class="container-fluid">
              {% elif color == 'dark' %}
              <div id="navbar-dark" class="container-fluid">
                {% elif color == 'purple' %}
                <div id="navbar-purple" class="container-fluid">
                  {% else %}
                  <div id="navbar-blue" class="container-fluid">
                    {% endif %}

                    <div class="row">
                      <div class="col-md-6">
                        <h1>
                          Rishabh Bhardwaj
                        </h1> 
                      </div>
                      <div class="pull-right" class="col-md-6">
                        <div class="navbar-ul">
                          <ul id="navbar-list" class="list-inline">
                            <li><a class="aref" class="text-center" href="/home">Home</a></li>
                            <li><a class="aref" class="text-center" href="/portfolio">Portfolio</a></li>
                            <!-- <li><a class="aref" class="text-center" href="/code">Code</a></li> -->
                            <li><a class="aref" class="text-center"  href="/weblog">WebLog</a></li>
                            <li><a class="aref" class="text-center" href="/music">Music</a></li>
                            <li> <a class="aref" class="text-center" href="/contact">Contact</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div id="content-row" class="row">
                     <div id="container">
                       <div id="center-title-back">
                        <p  class="text-center" id="center-title-back-text">{{ titleback }}</p>
                      </div>
                      <div style="padding-top: 30px;" id="center-title">
                        <p class="text-center" id="center-title-text" >{{ title }}</p>
                      </div>

                      <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                            <h4 style="text-align: center;">{{ subtitle }}</h4>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                              <h6 style="text-align: center;" class="text-center">{{ subcontent }}</h6>
                           </div>
                       </div>
                      
                      
                      
                      
                      
                      
                    </div>
                  </div>
                </div>
              </section>
              <!-- <div style="padding:10px;"></div> -->
              {% block body %}

              <!-- BLOCK BODY GOES HERE -->
              {% endblock %}
              <div style="padding:10px;"></div>

              <!-- Code for footer goes here! -->
              <footer class="footer">
                <div class="container">
                  <p class="text-muted">Rishabh Bhardwaj</p>
                </div>
              </footer>

            </body>
            </html>