<!DOCTYPE html>
<html>
<head>
  <title>Places | Rish</title>
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/aboutme.css') }}" rel = "stylesheet">
  <link href="{{ url_for('static', filename = 'css/places.css') }}" rel = "stylesheet">
  
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-3"><a class="button primary-blue" href="/home" style="margin-top:20px">&lt; Home</a></div>

        <div class="col-md-9"></div>
      </div>

      
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-4"><h1>Places</h1></div>
          <div class="col-md-8"></div>
        </div>

        <div class="row">
          <div class="col-md-3"><img src="/static/images/me_small.jpg" alt="Rishabh Bhardwaj"></div>
          <div class="col-md-9">
            <p>I love traveling. A lot of people say that, but forget that the true essence of traveling is not about hopping around all the places marked by Google Maps. Here is a list of places I've been to so far, and the things I did there. I usually travel solo, and love the random set of amazing people life throws at me.</p> 
            <p>To know more about me, visit <a href="/home">this</a> page, or email me <a href="mailto:bhardwaj.rish@gmail.com?Subject=Hello%20Rish%20-from-website" target="_top">here</a>.
            </p>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-4"><a class="button primary-blue" href="/aboutme"> About Me</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="https://www.facebook.com/luigirish"> Facebook</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="mailto:bhardwaj.rish@gmail.com?Subject=Hello%20Rish%20-from-website"> GMail</a></div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>This is a list of all places I've experienced so far. I hope one day it becomes an endless list some day!</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
            <li><b>[Mysore, India]</b>One amazing 1 day trip with Gaurav Bansal, from college, where we roamed literally everything there on 2 hours of sleep during the train journey from Bangalore.</li>
            <li><b>[Bangalore, India]</b>Interned with <a href="http://anirudh.me/">Anuridh Sharma</a>, where I experienced real things being made for the first time. Visited a maker space/hacker place called Workbench there that completely destroyed my anyway declining perception of my university's education. <b>People were really making things there!</b></li>
            <li><b>[Nasik, India]</b>Modern Cafe, on College Road. Man. The food there! Probably the best food I've ever had. The uthapam there! Crispy on one side, and so full of taste on the other. I ended up talking to a lot of sweets shop owners. Worked with Prof <a href="https://www.media.mit.edu/people/raskar">Ramesh Raskar</a> from MIT Media Lab, and volunteered at the <a href="http://www.kumbha.org/">Kumbathon</a>.</li>
            <li><b>[Kochi, India]</b></li>
            <li><b>[Sandhole, Himachal Pradesh, India]</b>Challo Sandhole! Rural Internship. The best internship ever! The work we did there was not worth our effort-survey filling. But since we had to talk to random people of the place, we ended up talking to so many strangers, and getting to know so much about the place. We climbed several mountains nearby, and almost were almost unble to find our way back after sunset on one of them. Now this place had zeros lights, and post sunset, all we had were out cellphones running on sub 10% battery. It snowed in Sandhole right after the day we reached Chandighar. It would have been so much fun to make snow forts!</li>
            <li><b>[Mumbai, India]</b> Saki Naka. The funniest name. Well, one thing I was sure of right after the internship was; I am not a Mumbai person. I spent just under 2 months living right next to the airport, and did not travel much there. But I still wanted to mention it here. No Mumbai for me.</li>
            <li><b>[Gandhinagar, Gujarat]</b>My love. It's super green, and there are a million squirrels and peacocks. (These squirels are not afraid of anything, ftr. The peacocks, of everything.) I hope this place stays the way it is. It isn't like the other cities of India. It is developed (partly) ; extremely smooth roads for Indian standards, with almost zero population density. I spent my entire sophomore summer roaming around the entire city. Also cycled all the way to Ahmedabad one day!</li>
            <li><b>[Pune, India]</b>I've spent my teenage, the second half of my school life here. It's a really cool city, but to tell you the truth, I haven't done much here.</li>
            <li><b>[Basel, Switzerland]</b>I have to roam around Switzerland once again! I want to talk 3 months off and roam the puny country once again. I spent the first half of my childhood here. We lived in Basel, Munchenstein (Yes, Federer's home is here :) ) for 10 years.</li>
            <li><b>[West Europe]</b>Yes, quite literally almost all places there. Italy, Germany, France, England, Sweden. But. The catch. I was less tha 10 years old when we went to all these places. I barely remember anything about these places, and was far from exploring it myself!</li>
          </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 " style="margin-top:20px">
            <p>I love exploring and traveling, discussing interesting ideas and connecting with people of similar interests. Shoot me an email at the address mentioned above!</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
</body>
</html>