{% extends "navbar.html" %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id='resume' class="tab-pane">
				<div class="body-content">
					<div class="row">
						<div class="col-md-8">
							<!-- PROJECTS TIMELINE -->

							<section id="resume" class="vs-current">
								<div class="content">
									<div class="row">
										<div class="col-md-12">
											<div class="timeline">
												<h2><i class="fa fa-flask"></i>Projects</h2>
												<div class="event current"><span class="date">2012</span>
													<h4>Front End Web Developer</h4>
													<h5>PIXELWARS INC.</h5>
													<p>I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
													</p>
												</div>
												<div class="event "><span class="date">2010</span>
													<h4>Web Developer</h4>
													<h5>GOOGLE INC.</h5>
													<p>I worked as a Web Developer at Google for 3 years. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
													</p>
												</div>
												<div class="event "><span class="date">2006</span>
													<h4>Exclusive Author</h4>
													<h5>ENVATO INC.</h5>
													<p>I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
													</p>
												</div>
												<div class="event "><span class="date">2006</span>
													<h4>Exclusive Author</h4>
													<h5>ENVATO INC.</h5>
													<p>I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
													</p>
												</div>
												<div class="event "><span class="date">2006</span>
													<h4>Exclusive Author</h4>
													<h5>ENVATO INC.</h5>
													<p>I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
														I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>

						<div class="col-md-4">
							<!-- SIDE DIVISION ON RIGHT  -->
							<div class="box-block">
								<h3 class="title with-icon"><span class="glyphicon glyphicon-plane icn-title"></span>LinkedIn</h3>
								<div class="box-block">
									<p>For my work experience, organizations I worked with, and education, head over to my LinkedIn.</p>
									<a class="button primary-blue" href="#">Linked In</a>
								</div>
							</div>
							<div class="box-block">
								<h3 class="title with-icon"><span class="glyphicon glyphicon-plane icn-title"></span> Download CV</h3>
								<div class="box-block">
									<p>You can also download my CV as a PDF for reference.</p>
									<a class="button primary-green" href="#">DOWNLOAD CV</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Start Interests -->

<!-- 							<div class=" col-md-12">
<h2 class="section-title"><span><i class="fa icon-cog-1"></i>PROGRAMMING SKILLS</span></h2>
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:95%">
Android 
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:80%">
Java
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:75%">
Python
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:40%">
Shell
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:69%">
HTML & CSS
</div>
</div>

<h2 class="section-title"><span><i class="fa icon-cog-1"></i>LIFE SKILLS</span></h2>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:90%">
Language And Speech
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:75%">
Group Leading
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:80%">
Creative Thinking
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
style="width:5%">
<span>Singing</span>
</div>
</div>
-->
<!-- End Interests  -->

{% endblock %}