{% extends "navbar.html" %}

{% block body %}

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id='resume' class="tab-pane">
				<div class="body-content">
					<div class="row">
						<div class="col-md-8">
							<!-- PROJECTS TIMELINE -->
							<section id="resume" class="vs-current">
								<div class="content">
									<div class="row">
										<div class="col-md-12">
											<div class="timeline">
												<h2 id="timeline-header"><i class="fa fa-flask"></i>PROJECTS</h2>

												{% for project in projects %}
													{% if project.p_status == 'current' %}
														<div class="event current"><span class="date">{{ project.p_short }}</span>
													{% else %}
														<div class="event"><span class="date">{{ project.p_short }}</span>
													{% endif %}
															<div class="row">
																<a id="project-name" href={{ project.p_link }}>{{ project.p_name }}</a>
															</div>
															<div class="row">
																<span id="project-tech-used">{{ project.p_tech_used }}</span>
															</div>
															<div class="row">
																<p id="project-desc"> {{ project.p_description }} </p>
															</div>
														</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>

						<div class="col-md-4">
							<h2 id="timeline-header"></i>EXTRAS</h2>
							<!-- SIDE DIVISION ON RIGHT  -->
								<div class="box-block">
									<div class="row">
										<div class="col-md-12">
											<span id="side-title"><i class="fa fa-linkedin"></i></span>
											<a class="button primary-blue" href="http://in.linkedin.com/in/bhardwajrish">Linked In</a>
										</div>
									</div>
									<p id="handwriting-span">For my work experience, organizations I worked with, and education, head over to my LinkedIn.</p>
								</div>

								<hr>
								<div class="box-block">
									<div class="row">
										<div class="col-md-12">
												<span id="side-title"><i class="fa fa-bookmark-o"></i></span>
												<a class="button primary-green" href = {{ resume_pdf_link }}>DOWNLOAD CV</a>
											</div>
									</div>
									<p id="handwriting-span">You can also download my CV as a PDF for reference.</p>
								</div>

								<hr>
								<div class="box-block">
									<p id="handwriting-span">I've worked at 2 startups so far - one of them being an MIT Media Lab spinoff - <a href="http://tesseract.in/">Tesseract.</a>, where I developed <a href="https://play.google.com/store/apps/details?id=in.tesseract.allviewpro">this</a> application.</p>
									<hr>
									<p id="handwriting-span">I have also volunteerd at 2 NGOs. - <a href="http://www.kumbha.org/">MIT Kumbathon</a>, a technical org where I developed a health care <a href="https://play.google.com/store/apps/details?id=com.kumbhthon.meditracker">application</a> for the Kumbhmela, and the other at NHEPES, Himachal Pradesh where I taught students of class V-X english and maths.
									</p>

									<!-- <p id="handwriting-span">I love making things. Whether its code, Lego, cooking, or even painting. I have a lust for creating things that can be used for personal and social benefit.
									</p> -->

								</div>
								<h2 id="timeline-header"></i>SKILLS</h2>
							<!-- SIDE DIVISION ON RIGHT  -->
								<div class="box-block">
									<div class="row">
										<div class="col-md-12">
										<p id="handwriting-span">Android</p>
										<p id="handwriting-span-sub">RestAPI, Butterknife, SugarORM, Volley, Picasso, MikePenz, Android Support</p>
										<p id="handwriting-span">Python</p>
										<p id="handwriting-span-sub">Flask, Mechanize, BS4, SQLAlchemy</p>
										<p id="handwriting-span">Java</p>
										<p id="handwriting-span-sub">Selenium, Jaunt-API, Robot</p>
										<p id="handwriting-span">Design</p>
										<p id="handwriting-span-sub">Material Design, Flat UI</p>
										<p id="handwriting-span">Databases</p>
										<p id="handwriting-span-sub">MySQL, MongoDB, Postgress</p>
										</div>
									</div>
								</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Start Interests -->

<!-- 							<div class=" col-md-12">
<h2 class="section-title"><span><i class="fa icon-cog-1"></i>PROGRAMMING SKILLS</span></h2>
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:95%">
Android
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:80%">
Java
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:75%">
Python
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:40%">
Shell
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:69%">
HTML & CSS
</div>
</div>

<h2 class="section-title"><span><i class="fa icon-cog-1"></i>LIFE SKILLS</span></h2>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:90%">
Language And Speech
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:75%">
Group Leading
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:80%">
Creative Thinking
</div>
</div>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
style="width:5%">
<span>Singing</span>
</div>
</div>
-->
<!-- End Interests  -->

{% endblock %}
