{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <div class="col s12 m4 l8">
                <span class="date">2019</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="/timeline" class="title">[Job, Google Munich]</a>
                        </div>
                        <span class="content">Started a job at Google Munich in the Android Platforms and Ecosystems team! 
                    </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">local_airport</i>
                            <a href="/timeline" class="title">[Munich, Germany]</a>
                        </div>
                        <span class="content">Moved to Munich, Germany. 
                    </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/timeline" class="title">[Cuda, C++]</a>
                        </div>
                        <span class="content">Worked on the Nvidia TX2 platform to run real time fusion of thermal and visible cameras, detect vehicles in a video feed, run a thermal imaging pipeline to convert 14 bit image to greyscale 8 bit output, and build a GUI using QT. Specifically, I spent most efforts in writing CUDA based fusion, organizing the codebase, and writing a lot of CMake configurations. 
                        </span>
                    </li>
		    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/timeline" class="title">[Thermal Pipeline]</a>
                        </div>
                        <span class="content">[WIP] Worked on building an image processing pipeline to convert 14 bit
                            thermal data to an 8 bit grayscale / 24 bit false colored output, making a scene independent
                            imaging pipeline that gives good contrast. A lot of the algorithms were already written by
                            my colleagues, but there was no unified codebase where we could experiment.
                        </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">location_searching</i>
                            <a href="/timeline" class="title">[Data Structures, Algorithms]</a>
                        </div>
                        <span class="content">If you want to win the game, you have to follow its rules. I decided I'd
                    like to experience working at a big company, and all
                        <a href="https://en.wikipedia.org/wiki/Facebook,_Apple,_Amazon,_Netflix_and_Google">FAANG</a>
                            companies need their employees to have strong CS foundations and problem solving abilities.
                            I dedicated a major chunk of my personal free time solving questions on
                            <a href="https://www.interviewbit.com">interviewbit.com</a>,
                            and <a href="https://www.leetcode.com">leetcode.com</a>. 
                        </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/timeline" class="title">[User Management on Cameras]</a>
                        </div>
                        <span class="content">User management was one of the biggest challenges for an offline first camera
                        system. This was necessary because customers wanted to manage and use their cameras from our
                        website. I designed and developed ground up the mechanism and flow for a secure offline first
                        user management system.
                    </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">local_airport</i>
                            <a href="/timeline" class="title">[Vilnius, Lithuania]</a>
                        </div>
                        <span class="content">Moved to Vilnius, Lithuania, to be the first members setting up the
                    Tonbo Imaging UAB European office. This is a research and development center, where my will work
                        will involve creating a sensor package for autonomous driving.
                    </span>
                    </li>
                </ul>

                <span class="date">2018</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">location_searching</i>
                            <a href="/projects/auto-quad" class="title">[Autonomous Quad, Camera]</a>
                        </div>
                        <span class="content">Fly a cheap chinese quad and eliminate drift + stabilize + direct it using a camera placed on top and a simplistic PID model. Using an nRF module to send serial commands to the drone, and aruco markers for pose estimation. </span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/projects/lib-graf" class="title">[Graphics, Android]</a>
                        </div>
                        <span class="content">Created a graphics library on Android for custom rendering, applying OpenGLES filters, fast transfer of frames between the CPU and GPU, and streaming. I also ported my previous work on <a
                                href="/projects/video-stab">video stabilization</a> to use this library.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/projects/camera-client-arch" class="title">[Camera-Client Architecture]</a>
                        </div>
                        <span class="content">Rewrote our entire Snapdragon platform application layer codebase at Tonbo Imaging to standardize communication between different camera variants and various clients/softwares. This also included creating an SDK for vendors to create custom clients to communicate with the cameras. I also created libraries out of the re-usable elements within the software.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">local_airport</i>
                            <a href="/projects/travel-18" class="title">[Month-long Travel]</a>
                        </div>
                        <span class="content">Took a month off of work to travel North India and Bhutan. I also spent <a
                                href="https://www.youtube.com/watch?v=srKZjUyTiKg">10 days skiing in Auli</a> during this period.</span>
                    </li>
                </ul>
                <span class="date">2017</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="http://bhardwajrish.blogspot.com" class="title">[Hiring, Tonbo Imaging]</a>
                        </div>
                        <span class="content">I hired a full time Android Engineer and a Python webdev intern, and boy was it difficult. I've always stressed on a company is only as good as it's people, but it's an insanely difficult challenge to hire good engineers with the right mindset.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/projects/video-stab" class="title">[Real Time Video Stabilization using an
                                IMU]</a>
                        </div>
                        <span class="content">Worked on real-time 30 FPS video stabilization using an IMU and rendering using OpenGL. I learnt 3D geometry and camera modeling during this period.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="/projects/tonbo-imaging" class="title">[Job, Tonbo Imaging]</a>
                        </div>
                        <span class="content">Joined Tonbo Imaging, a camera company, in May as a full time employee. My work here will be to bring up the Qualcomm Snapdragon platform at the application layer, creating a base for vision problems, streaming, and fast image operations such as false coloring and video stabilization.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="https://github.com/crearo/gstreamer-cookbook" class="title">[Real Time
                                Streaming]</a>
                        </div>
                        <span class="content">I used Gstreamer on Android to stream real time video. During this period I understood how videos are stored, streamed, interact with displays, and a little bit about codecs and muxers, and various video color formats (RGB, YUV and the conversions between them). I also created a <a
                                href="https://github.com/crearo/gstreamer-cookbook">GStreamer Cookbook</a> in C and Python for anyone trying their hand at GStreamer.</span>
                    </li>
                </ul>
                <span class="date">2016</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">linked_camera</i>
                            <a href="/projects/thermal-face-detection" class="title">[Thermal Face Detection]</a>
                        </div>
                        <span class="content">Spent my first month exploring face detection in thermal video on a low-end mobile GPU. The limited GPU computation ability and limited facial features at a distance forced me to use a HoG feature descriptor and feed its results to a linear SVM. I detected once every 10 frames and used a KLT tracker, tracking points in the detected faces as it was computationally faster.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="http://bhardwajrish.blogspot.com/2017/12/one-year-at-tonbo-imaging.html"
                               class="title">[Internship,
                                Tonbo Imaging]</a>
                        </div>
                        <span class="content">Started interning at Tonbo Imaging, a camera company that designs and manufactures advanced imaging and sensor systems for military reconnaissance, infrastructure security and transportation safety. My work here will be to explore possibilities of building a camera on Android, <b>perform vision analytics, explore OpenCV-CL-GL and validate real time streaming.</b></span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <a href="/projects/paper-spatio-temporal" class="title">[Social Ties in Spatio-Temporal
                                Data,
                                Research]</a>
                        </div>
                        <span class="content">Co-published a paper on studying the role of temporal diversity in inferring social ties based on spatio-temporal data. We created a rich spatio-temporal dataset of 0.7 million datapoints of continuous location data logged at an interval of every 2 minutes by mobile phones of 46 subjects.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">local_airport</i>
                            <a href="/projects/hillhacks-16" class="title">[Hill Hacks, Travel]</a>
                        </div>
                        <span class="content">Spent two weeks (May '16) at a hacker space in Dharamshala, Himachal Pradesh - <a
                                href="https://hillhacks.in/">HillHacks</a>. I learnt a lot about hacker spaces in India and in Germany. I also met and interacted with a lot of people from diverse fields - architecture, space tech, design, animals enthusiasts, hacker space owner, and several others.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">school</i>
                            <a href="/projects/android-nanodegree" class="title">[Udacity Nanodegree]</a>
                        </div>
                        <span class="content">I won a scholarship by Tata Trusts and Google Scholarship to take up Udacity's Nanodegree program and chose to take it up because I never formally learnt Android through a course or theory.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">android</i>
                            <a href="/projects/perplexy" class="title">[Perplexy, Android]</a>
                        </div>
                        <span class="content">A general quiz platform I made for the Google Admob challenge '16 in a team of 4. Our core focus was on the interface and design. I'm really happy with the way it came out, and is probably my favorite group college project - mostly because it was self-initiated; no one asked us to do this, but the 4 of us had an itch to do <i>something</i>.</span>
                    </li>
                </ul>
                <span class="date">2015</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">android</i>
                            <a href="/projects/lifehacks" class="title">[Lifehacks, Android]</a>
                        </div>
                        <span class="content">Developed an Android application that now has over <b>750K+ downloads on Google Play (4.6 stars with >9K ratings, and over 25% active users</b>, as of Aug '18). It is the top app in its category on the store, and is growing at ~1-5K downloads per day.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="/projects/graviky-labs" class="title">[Internship, Graviky Labs]</a>
                        </div>
                        <span class="content">I spent 3 weeks with <a href="http://anirudh.me/">Anirudh Sharma</a>, an MIT Media Lab graduate in Fluid Interfaces, and <a
                                href="http://www.niteshkadyan.in/">Nitesh Kadyan</a> tinkering around in their lab in Bangalore.
    I worked on a whole lot of small projects during this period - varying from monitoring <b>ECG on your bi-cycle handle</b> to making a <b>voice controlled interface to control the crazy-flie nano-copter</b> to <b>transferring data over the audio jack</b> on your mobile phone.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="/projects/kumbhathon" class="title">[Volunteer, Kumbhathon]</a>
                        </div>
                        <span class="content">At <a href="http://www.kumbha.org/">Kumbathon</a> for 10 days as
    a participant, where I worked with <a href="https://www.media.mit.edu/people/raskar">Ramesh
    Raskar</a> towards bringing technology to the Kumbhmela. We visualized changes in population
    movement on heatmaps, using telecom data.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">work</i>
                            <a href="/projects/tesseract" class="title">[Internship, Tesseract Imaging]</a>
                        </div>
                        <span class="content">Spent 3 months at <a
                                href="http://360vr.tesseract.in/">Tesseract</a>, an MIT Media Lab spinoff working closely with <a
                                href="http://www.kshitijmarwah.com/ ">Kshitij Marwah</a>, where I co-developed an Android application to capture and view 360 degree image+video with the hardware built there.</span>
                    </li>
                </ul>
                <span class="date">2014</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">android</i>
                            <a href="/projects/dawebmail" class="title">[DAWebmail, Android]</a>
                        </div>
                        <span class="content">Conceptualized, designed, programmed, and published on Google PlayStore a GMail like e-mail application based on android that is now used to view my university’s emails and receive notifications on android mobile devices.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">android</i>
                            <a href="/projects?tags=android" class="title">[A LOT of Android mini-projects]</a>
                        </div>
                        <span class="content">I worked on a lot of Android projects in my second year. From one idea to the next, making things on Android felt a lot like playing with Lego Mindstorms. To list a couple I'm proud of, <a
                                href="/projects/andro-mouse">Andro-Mouse</a>, <a
                                href="/projects/knights-tour">Knight's Tour</a>, and <a
                                href="/projects/alarm-for-snoozers">Alarm For Snoozers</a>.</span>
                    </li>
                </ul>
                <span class="date">2013</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">school</i>
                            <a href="http://bhardwajrish.blogspot.com/2017/03/da-in-100-words.html" class="title">[Undergrad,
                                DA-IICT]</a>
                        </div>
                        <span class="content">I took up an Information and Communication Technology undergrad at <a
                                href="http://www.daiict.ac.in/daiict/index.html">DA-IICT</a>. I took up electives in IoT and Software Architecture, made friends that I'll keep for life, and played a lot of football. This was a great place for me because the college gave us a lot of time and space and let us be - which is why I could experiment so many different things and figure out what I like to do most.</span>
                    </li>
                </ul>
                <span class="date">2011-13</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">book</i>
                            <span class="title">[Study, Study, Study]</span>
                        </div>
                        <span class="content">I spent 2 long years preparing to get an Engineering admission. I really did nothing other than study super fat books thicker than my thighs - I usually had them cut into multiple pieces just so they wouldn't look so scary. I ranked in the top 0.5 percentile of AIEEE.</span>
                    </li>
                </ul>
                <span class="date">2010 and before</span>
                <ul>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">looks_two</i>
                            <a href="/projects?tags=lego" class="title">[Lego Mindstorms NXT 2.0]</a>
                        </div>
                        <span class="content">My father bought me a second Mindstorms kit when it came out in 2009. Even more pieces, and I made even more creations! I remember I stopped playing PS2 altogether because I enjoyed playing with Lego and making things so much more. Click on the title to view all my Lego projects.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">local_airport</i>
                            <span class="title">[Moved to India]</span>
                        </div>
                        <span class="content">We moved back to India after spending a good 10 years in Switzerland. This was when I was in 7th grade, and I'm glad we did; I know I'd be a confused brown Swiss who'd never never associate himself as an Indian, but wouldn't truly ever be one of the Swiss either because he was a brown vegetarian brought up with Indian values. Having now seen life in India and knowing I'm Indian, I'd like to spend my life in Europe.</span>
                    </li>
                    <li>
                        <div class="icon-title">
                            <i class="tiny material-icons">looks_one</i>
                            <a href="/projects?tags=lego" class="title">[Lego Mindstorms NXT 1.0]</a>
                        </div>
                        <span class="content">My father bought me a Lego Mindstorms NXT 1.0 kit in 2006, and I boy I built a whole lot of things and published them all on the NXTLog. The first thing my father and I made together was a <a
                                href="/projects/lego-neck">tri-wheel car that could extend its neck.</a> Since then I've made a lot of Lego creations. Click on the title to view all.</span>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!--<li><a href="/projects/" class="title">[]</a>
        <span class="content"></span></li>-->
    {% endblock %}
