{% extends "navbar.html" %}

{% block body %}

<br>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">

			<a class="button primary-blue" href="#">RANDOMIZE LIST</a>
			<a class="button primary-green" href="#">Read Any One</a>
			<a class="button primary-yellow" href="#">My Favorites</a>

		</div>
	</div>

{% for weblog in weblogs %}
<div class="row">
	<div id="weblog-box" class="col-md-6 col-md-offset-3">
		<div style="text-align:center;">
			<a class="link" id="weblog-name" href = {{ weblog.w_link }}>{{ weblog.w_title }}</a>
		</div>
		<p id="weblog-text"> {{ weblog.w_content|truncate(250) }}</p>
	</div>
</div>

</div>
{% endfor %}

{% endblock %}