{% extends "navbar.html" %}

{% block body %}

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">

			<a class="button primary-blue" href="#">RANDOMIZE LIST</a>
			<a class="button primary-green" href="#">Read Any One</a>
			<a class="button primary-yellow" href="#">My Favorites</a>

		</div>
	</div>


	<div class="row">
		<span id="weblog-title-text">WebLog</span>	
	</div>

{% for weblog in weblogs %}
	<div class="row">
		<div id="weblob-box" class="col-md-8 col-md-offset-2">
			<div class="row">
				<span id="weblog-date">{{ weblog.w_dateposted }}</span>
			</div>
			<div class="row">
				<a class="link" id="weblog-name" href = {{ weblog.w_link }}>{{ weblog.w_title }}</a>
			</div>
		<hr>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}