{% extends "navbar.html" %}

{% block body %}

<br>

<div class="container-fluid">
	<div class="row">
			<div class="text-center">
				{% set next = weblog.id|int + 1 %}
				{% set prev = weblog.id|int - 1 %}
				{% if prev >= 1%}
					<a class="button primary-yellow" href={{prev}}>PREVIOUS</a>
				{% endif %}
				<a class="button primary-blue" href={{next}}>NEXT</a>
			</div>
		<div class="col-md-6 col-md-offset-2">
			
			<div class="row">
				<span id="weblog-title">{{ weblog.w_title }}</span>	
			</div>

			<div class="row">
					{{ weblog.w_content|safe }}
			</div>
		</div>

		<div class="col-md-2 col-md-offset-2">
			<div class="box-block">
				<p id="handwriting-span">I'm going to write some interesting things here.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}